
<div class="order-item mb-2" *ngIf="cartItem">
    <div class="item-photo">
        <img src="{{cartItem.photo}}" alt="">
    </div>
    
    <div class="details">
        <p class="detail-title">{{cartItem.title}}</p>
        <p class="text-success">{{cartItem.price}}</p>        
    </div>
    <div class="controls">
        <button (click)="incrementItemQuantity(cartItem)" class="btn add-button"><i class="fa text-success fa-plus"></i></button>
        <span *ngIf="cartItem.qty > 1">{{cartItem.qty}}</span>
        <button *ngIf="cartItem.qty > 1" (click)="decrementItemFromCart(cartItem)" class="btn reduce-button"><i class="fa fa-minus"></i></button>
        <button *ngIf="cartItem.qty === 1" (click)="removeItemFromCart(cartItem)" class="btn reduce-button"><i class="fa fa-times"></i></button>
    </div>
</div>