<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="#">Voltron</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto ">
      <li class="nav-item active">
      </li>
    </ul>
    <ul class="navbar-nav  mr-4">
      <li  class="nav-item active " *ngIf="authUser" >
        <a class="nav-link"  (click)="logout()" >Logout</a>
      </li>
      <li   class="nav-item active" *ngIf="!authUser" >
          <a class="nav-link" routerLink="/login">Login</a>
        </li>
      <li   class="nav-item active" *ngIf="!authUser">
        <a class="nav-link" routerLink="/signup">Signup</a>
      </li>
    </ul>
    <div  class="mr-4 text-white">
        <i class="fa fa-cart-arrow-down"><span class="badge badge-light">0</span></i>
    </div>
  </div>
</nav>